---
layout: default
---

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Monday Night Skippys</h1>
  <p class="lead">Welcome to the home of the World Famous UK&I Monday Night Skippys website.  The site aims to be a central place for all things related to the league.</p>
</div>

<div class="row mx-5">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
      src="https://www.youtube.com/embed/?list=PL-wz-fxCI5TtKIy0O1wZWBvp9n91787bh&listType=playlist&rel=0"
      allowfullscreen></iframe>
    </div>
</div>

<div class="card-columns mt-3">
  <div class="card">
    <h5 class="card-header">Current Standings</h5>
    <div class="card-body">
        <p class="card-text">{{site.data.standings_info.latest_round}}</p>
        <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Points</th>
          </tr>
        </thead>
        <tbody>
          {% for driver in site.data.standings limit:10 %}
          {% if driver[1].change > 0 %}
            {% assign class = 'table-success' %}
          {% elsif driver[1].change < 0 %}
            {% assign class = 'table-danger' %}
          {% else %}
            {% assign class = '' %}
          {% endif %}
            <tr class="{{ class }}">
              <th scope="row">{{ driver[1].position }}</th>
              <td>{{ driver[1].name }}</td>
              <td>{{ driver[1].points }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="card-text">Keep track of your favourite teams and drivers and keep track of where they are in the standings.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://www.danlisa.com/scoring/season_standings.php?season_id=8203" target="_blank">View standings »</a>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Current Champion</h5>
    <div class="card-body">
      {% assign cur_champ = site.data.champions.last.seasons.last %}
      <p class="card-text">The current {{ site.data.champions.last.year }}S{{ cur_champ.season }} League Champion is:</p>
      <h5 class="card-text text-center">{{ cur_champ.name }}</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/champions">View Past Champions »</a>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Streamers</h5>
    <div class="card-body">
      <p class="card-text">Compound view of all twitch streamers</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/twitchers">View Streamers »</a>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Discord</h5>
    <div class="card-body">
      <p class="card-text">Chat to the community on the UK&I Discord server</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="https://discord.gg/Wsph2qs">#skippymondays »</a>
    </div>
  </div>
  {% for post in site.posts limit:3 %}
  <div class="card">
    <h5 class="card-header">{{ post.title }}</h5>
    <div class="card-body">
      <p class="card-text">{{ post.excerpt }}</p>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{  post.date | date_to_long_string }}</small>
    </div>
  </div>
  {% endfor %}
</div>
