<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-4 col-md">
      <h5>Links</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://www.youtube.com/watch?v=F3Hdo3k_6X0&list=PL-wz-fxCI5TtKIy0O1wZWBvp9n91787bh">YouTube</a></li>
        <li><a class="text-muted" href="https://www.danlisa.com/scoring/season_standings.php?season_id=7955">Standings</a></li>
        <li><a class="text-muted" href="https://discordapp.com/channels/179012266975428608/342965213701734402">Discord</a></li>
      </ul>
    </div>
    <div class="col-4 col-md"></div>
    <div class="col-4 col-md">
      <h5>Contribute</h5>
      <a href="https://github.com/mondaynightskippys/mondaynightskippys.github.io/edit/master/index.html">Edit this page</a>
      on GitHub or notify us
      <a href="https://github.com/mondaynightskippys/mondaynightskippys.github.io/issues/new">with an issue</a>.
      <div>Read the
        <a href="/help/howtocontribute">contributing guide</a>
        if you want to help out</div>
    </div>
  </div>
</footer>
